LLM_PROVIDER=disabled
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
NEXT_PUBLIC_ADSENSE_CLIENT_ID=ca-pub-4662523495462452
NEXT_PUBLIC_ADSENSE_SLOT_ID=7355293133
NEXT_PUBLIC_SUPPORT_URL_60=https://www.paypal.com/ncp/payment/9QCA832QU7HFS
NEXT_PUBLIC_SUPPORT_URL_120=https://www.paypal.com/ncp/payment/62QWVWR7TYALJ
NEXT_PUBLIC_SUPPORT_URL_300=https://www.paypal.com/ncp/payment/Z4MJ5H4FVT4MJ
